In [1]:
import pandas as pd

In [2]:
population_df = pd.read_csv('F:\ITI\Data_exploration\population_total.csv')

In [3]:
population_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,76.6M,76.4M,76.3M,76.1M,76M,75.8M,75.6M,75.4M,75.2M,74.9M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,168M,170M,172M,175M,177M,179M,182M,184M,186M,188M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.33M,1.3M,1.27M,1.25M,1.22M,1.19M,1.17M,1.14M,1.11M,1.09M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,63k,62.9k,62.9k,62.8k,62.7k,62.7k,62.6k,62.5k,62.5k,62.4k
4,United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,12.3M,12.4M,12.5M,12.5M,12.6M,12.7M,12.7M,12.8M,12.8M,12.9M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,...,315k,314k,314k,314k,313k,313k,312k,312k,311k,310k
193,Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,54.5M,54.4M,54.3M,54.1M,54M,53.8M,53.7M,53.5M,53.4M,53.2M
194,South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,...,79.8M,79.8M,79.7M,79.7M,79.6M,79.5M,79.5M,79.4M,79.3M,79.2M
195,Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,...,74.4M,75.2M,76M,76.8M,77.6M,78.4M,79.2M,80M,80.8M,81.5M
196,Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,30.8M,30.9M,30.9M,30.9M,30.9M,30.9M,31M,31M,31M,31M

In [4]:
print(population_df.head())

                country   1800   1801   1802   1803   1804   1805   1806  \
0           Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1                Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2               Albania   400k   402k   404k   405k   407k   409k   411k
3               Andorra   2650   2650   2650   2650   2650   2650   2650
4  United Arab Emirates  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k

    1807   1808  ...   2091   2092   2093   2094   2095   2096   2097   2098  \
0  3.28M  3.28M  ...  76.6M  76.4M  76.3M  76.1M    76M  75.8M  75.6M  75.4M
1  1.57M  1.57M  ...   168M   170M   172M   175M   177M   179M   182M   184M
2   413k   414k  ...  1.33M   1.3M  1.27M  1.25M  1.22M  1.19M  1.17M  1.14M
3   2650   2650  ...    63k  62.9k  62.9k  62.8k  62.7k  62.7k  62.6k  62.5k
4  40.2k  40.2k  ...  12.3M  12.4M  12.5M  12.5M  12.6M  12.7M  12.7M  12.8M

    2099   2100
0  75.2M  74.9M
1   186M   188M
2  1.11M  1.09M
3  62.5k  62.4k
4  12.8M  12.9M

[5 rows x 302 columns]

In [5]:
print(population_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Columns: 302 entries, country to 2100
dtypes: object(302)
memory usage: 464.9+ KB
None

In [10]:
def convert_population(value):
    if isinstance(value, str):
        if 'B' in value:
            return float(value.replace('B', '').replace(',', '')) * 1e9
        if 'M' in value:
            return float(value.replace('M', '').replace(',', '')) * 1e6
        if 'k' in value:
            return float(value.replace('k', '').replace(',', '')) * 1e3
        return float(value.replace(',', ''))
    return value 

for col in population_df.columns[1:]:
    population_df[col] = population_df[col].apply(convert_population)

In [11]:
population_df

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3280000.0,3280000.0,3280000.0,3280000.0,3280000.0,3280000.0,3280000.0,3280000.0,3280000.0,...,76600000.0,76400000.0,76300000.0,76100000.0,76000000.0,75800000.0,75600000.0,75400000.0,75200000.0,74900000.0
1,Angola,1570000.0,1570000.0,1570000.0,1570000.0,1570000.0,1570000.0,1570000.0,1570000.0,1570000.0,...,168000000.0,170000000.0,172000000.0,175000000.0,177000000.0,179000000.0,182000000.0,184000000.0,186000000.0,188000000.0
2,Albania,400000.0,402000.0,404000.0,405000.0,407000.0,409000.0,411000.0,413000.0,414000.0,...,1330000.0,1300000.0,1270000.0,1250000.0,1220000.0,1190000.0,1170000.0,1140000.0,1110000.0,1090000.0
3,Andorra,2650.0,2650.0,2650.0,2650.0,2650.0,2650.0,2650.0,2650.0,2650.0,...,63000.0,62900.0,62900.0,62800.0,62700.0,62700.0,62600.0,62500.0,62500.0,62400.0
4,United Arab Emirates,40200.0,40200.0,40200.0,40200.0,40200.0,40200.0,40200.0,40200.0,40200.0,...,12300000.0,12400000.0,12500000.0,12500000.0,12600000.0,12700000.0,12700000.0,12800000.0,12800000.0,12900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,47300.0,47300.0,47300.0,47300.0,47300.0,47300.0,47300.0,47200.0,47200.0,...,315000.0,314000.0,314000.0,314000.0,313000.0,313000.0,312000.0,312000.0,311000.0,310000.0
193,Yemen,2590000.0,2590000.0,2590000.0,2590000.0,2590000.0,2590000.0,2590000.0,2590000.0,2590000.0,...,54500000.0,54400000.0,54300000.0,54100000.0,54000000.0,53800000.0,53700000.0,53500000.0,53400000.0,53200000.0
194,South Africa,1450000.0,1450000.0,1460000.0,1460000.0,1470000.0,1470000.0,1480000.0,1490000.0,1490000.0,...,79800000.0,79800000.0,79700000.0,79700000.0,79600000.0,79500000.0,79500000.0,79400000.0,79300000.0,79200000.0
195,Zambia,747000.0,758000.0,770000.0,782000.0,794000.0,806000.0,818000.0,831000.0,843000.0,...,74400000.0,75200000.0,76000000.0,76800000.0,77600000.0,78400000.0,79200000.0,80000000.0,80800000.0,81500000.0
196,Zimbabwe,1090000.0,1090000.0,1090000.0,1090000.0,1090000.0,1090000.0,1090000.0,1090000.0,1090000.0,...,30800000.0,30900000.0,30900000.0,30900000.0,30900000.0,30900000.0,31000000.0,31000000.0,31000000.0,31000000.0

In [8]:
population_df = population_df.fillna(method='ffill').fillna(method='bfill')

C:\Users\EL-Masria\AppData\Local\Temp\ipykernel_1056\419361544.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  population_df = population_df.fillna(method='ffill').fillna(method='bfill')

In [9]:
total_population = population_df.describe()
print(total_population)

               1800          1801          1802          1803          1804  \
count  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02
mean   4.997231e+06  5.014695e+06  5.033275e+06  5.050528e+06  5.063379e+06
std    2.766040e+07  2.778250e+07  2.788112e+07  2.800319e+07  2.806563e+07
min    9.050000e+02  9.050000e+02  9.050000e+02  9.050000e+02  9.050000e+02
25%    1.270000e+05  1.270000e+05  1.270000e+05  1.270000e+05  1.270000e+05
50%    6.370000e+05  6.370000e+05  6.370000e+05  6.370000e+05  6.370000e+05
75%    2.150000e+06  2.150000e+06  2.150000e+06  2.150000e+06  2.150000e+06
max    3.300000e+08  3.320000e+08  3.330000e+08  3.350000e+08  3.360000e+08

               1805          1806          1807          1808          1809  \
count  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02
mean   5.086794e+06  5.101449e+06  5.125114e+06  5.143903e+06  5.157342e+06
std    2.822413e+07  2.828737e+07  2.844607e+07  2.856923e+07  2.863174e+07
min    9.050000e+02  9.050000e+02  9.050000e+02  9.050000e+02  9.050000e+02
25%    1.270000e+05  1.270000e+05  1.270000e+05  1.270000e+05  1.270000e+05
50%    6.370000e+05  6.370000e+05  6.370000e+05  6.370000e+05  6.370000e+05
75%    2.150000e+06  2.140000e+06  2.140000e+06  2.140000e+06  2.140000e+06
max    3.380000e+08  3.390000e+08  3.410000e+08  3.430000e+08  3.440000e+08

       ...          2091          2092          2093          2094  \
count  ...  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02
mean   ...  5.484334e+07  5.491408e+07  5.496532e+07  5.502431e+07
std    ...  1.530930e+08  1.528087e+08  1.526353e+08  1.523668e+08
min    ...  7.890000e+02  7.900000e+02  7.900000e+02  7.910000e+02
25%    ...  2.130000e+06  2.130000e+06  2.130000e+06  2.130000e+06
50%    ...  1.090000e+07  1.090000e+07  1.090000e+07  1.100000e+07
75%    ...  4.690000e+07  4.740000e+07  4.740000e+07  4.710000e+07
max    ...  1.510000e+09  1.500000e+09  1.500000e+09  1.490000e+09

               2095          2096          2097          2098          2099  \
count  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02  1.970000e+02
mean   5.501956e+07  5.510186e+07  5.511725e+07  5.514373e+07  5.511520e+07
std    1.517045e+08  1.518828e+08  1.512717e+08  1.509691e+08  1.503010e+08
min    7.910000e+02  7.930000e+02  7.960000e+02  7.960000e+02  7.950000e+02
25%    2.120000e+06  2.100000e+06  2.090000e+06  2.070000e+06  2.050000e+06
50%    1.100000e+07  1.100000e+07  1.100000e+07  1.100000e+07  1.100000e+07
75%    4.670000e+07  4.640000e+07  4.610000e+07  4.640000e+07  4.630000e+07
max    1.480000e+09  1.480000e+09  1.470000e+09  1.460000e+09  1.450000e+09

               2100
count  1.970000e+02
mean   5.515170e+07
std    1.501445e+08
min    7.970000e+02
25%    2.040000e+06
50%    1.100000e+07
75%    4.600000e+07
max    1.450000e+09

[8 rows x 301 columns]

In [12]:
print(population_df.head())

                country       1800       1801       1802       1803  \
0           Afghanistan  3280000.0  3280000.0  3280000.0  3280000.0
1                Angola  1570000.0  1570000.0  1570000.0  1570000.0
2               Albania   400000.0   402000.0   404000.0   405000.0
3               Andorra     2650.0     2650.0     2650.0     2650.0
4  United Arab Emirates    40200.0    40200.0    40200.0    40200.0

        1804       1805       1806       1807       1808  ...         2091  \
0  3280000.0  3280000.0  3280000.0  3280000.0  3280000.0  ...   76600000.0
1  1570000.0  1570000.0  1570000.0  1570000.0  1570000.0  ...  168000000.0
2   407000.0   409000.0   411000.0   413000.0   414000.0  ...    1330000.0
3     2650.0     2650.0     2650.0     2650.0     2650.0  ...      63000.0
4    40200.0    40200.0    40200.0    40200.0    40200.0  ...   12300000.0

          2092         2093         2094         2095         2096  \
0   76400000.0   76300000.0   76100000.0   76000000.0   75800000.0
1  170000000.0  172000000.0  175000000.0  177000000.0  179000000.0
2    1300000.0    1270000.0    1250000.0    1220000.0    1190000.0
3      62900.0      62900.0      62800.0      62700.0      62700.0
4   12400000.0   12500000.0   12500000.0   12600000.0   12700000.0

          2097         2098         2099         2100
0   75600000.0   75400000.0   75200000.0   74900000.0
1  182000000.0  184000000.0  186000000.0  188000000.0
2    1170000.0    1140000.0    1110000.0    1090000.0
3      62600.0      62500.0      62500.0      62400.0
4   12700000.0   12800000.0   12800000.0   12900000.0

[5 rows x 302 columns]

In [23]:
output_path = 'cleaned_population_total.csv'
population_df.to_csv(output_path, index=False)

print(f'cleaned dataset saved to {output_path}')

cleaned dataset saved to cleaned_population_total.csv